body {
  margin: 0;
  font-family: sans-serif;
  color: white;
  height: 100vh;
  background-image: url("../../key-art.gif"); /* Fondo animado */
  background-size: contain;               /* Mejor que 'contain' para cubrir toda la pantalla */
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-direction: column;              /* Para que la navbar y el contenido se apilen */
}

/* Capa oscura para mejorar contraste */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Oscurece el fondo */
  z-index: 0;
}

/* Barra de navegación */
.navbar {
  display: flex;
  justify-content: center; /* Separar izquierda y derecha */
  align-items: center;
  background-color: #001f3f;
  padding: 50px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav-left, .nav-right {
  display: flex;
  gap: 30px;
}

.nav-button {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
  transition: color 0.3s;
}

.nav-button:hover {
  color: #00ffe0;
}
.logo-button img {
  height: 100px;
  image-rendering: pixelated;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.logo-button {
  position: fixed;
  top: 0px;      /* distancia desde arriba */
  left: 10px;     /* o usá right: 10px; para la esquina derecha */
  z-index: 1001;  /* por encima de la capa oscura */
}
.logo-button img:hover {
  transform: scale(1.05);
}
.wii-menu {
     position: relative;
  z-index: 1; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 320px;
  background-color: #000;
}
.nosotros-content {
  position: relative;
  z-index: 1;
  max-width: 800px;
  margin: 200px auto 100px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 12px;
  color: white;
  font-family: 'Determination', sans-serif;
  box-shadow: 0 0 20px #0daf07;
  line-height: 1.6;
}

.nosotros-content h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #0daf07;
  text-align: center;
}
.nosotros-content2 {
  position: relative;
  z-index: 1;
  max-width: 800px;
  margin: 60px auto 100px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 12px;
  color: white;
  font-family: 'Determination', sans-serif;
  box-shadow: 0 0 20px #ff0000;
  line-height: 1.6;
}

.nosotros-content2 h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #af0707;
  text-align: center;
}

